<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortner</title>
</head>
<body>
    <h1>URL Shortner</h1>
    <% if (locals.id) { %>
     <p>URL Generated: http://localhost:8000/url/<%= id %></p>
    <% } %>
    <div>
        <form action="/url" method="post">
            <label for="url">Enter Your URL</label>
            <input type="text" placeholder="https://www.example.com" name="url">
            <button type="submit">Generate Short URL</button>
        </form>
    </div>
</body>
</html>